body{
padding:0px;
background-color:white;
color:black;
font-size:25px;
/*background-image:url("FITI.png");*/
background-position:relative;
background-repeat:no-repeat;
background-size:cover;
margin:0px;
align-items: center;

}
.dark-mode{
background-color: #333333;
color:white
transition:5s;
}
.nav-wrapper{
    display:flex;
    justify-content:space-between;
    padding:38px;
    background-color:purple;
    border-radius:20px;
    background-position:center;
    margin:2px ;
    transition:1s;

}

.nav-wrapper:hover{
background-color:darkred;

}
.left-side{
    display:flex;

}
.nav-wrapper > .left-side > div{
    margin-right:20px;
    font-size:0.9em;
    color:green;
    text-transform:uppercase;
    font-family:lobster;

}
.nav-link-wrapper{
height:22px;
border-bottom:1px solid transparent;
border-style:solid transparent;
border-radius:1px;
transition:border-bottom 0.5s;
transition:0.5s;

}
.nav-link-wrapper a {
color:orange;
text-decoration:none;
transition:color 0.5s;

}
.nav-link-wrapper:hover{
border-bottom:1px solid orange ;
border-style:solid green;


}
.nav-link-wrapper a:hover {
color:brick red;
border-style:solid green;


}
.portfolio-items-wrapper{
display:grid;
grid-template-columns:1fr 1fr 1fr;

}
.portfolio-item-wrapper{
position:relative;

}
.portfolio-background-cover{
width:360px;
height:100%;
position:cover;
background-position:center;
background-repeat:no-repeat;
object-fit:none;

}
.buttons-space{
display:flex;
margin-right:40px;
max-width:960px;
align-items: center;
height:auto;
}
.buttons-space>div{
margin-right:20px;
padding-bottom:20px;
padding-top:10px;

}
.images-content{
display:grid;
grid-template-columns: 1fr 1fr 1fr;
}
.images-content>div{

height:360px;
width:100%;
/*position:cover;*/
background-position:center;
background-repeat:no-repeat;

}
.images-portrait{
display:grid;
grid-template-columns:1fr 1fr 1fr;

}
.images-portrait>div{
/* border-radius:10px;
border:solid #333333; */
/*border-color:green;*/
position:cover;
background-position:center;
margin:2px;
}
.images-portrait>.image-portrait>.img-text{
position:cover;
background-position:center;
align:center;

}
.img{
max-width:100%;
height:auto;
padding:0px;
margin:0px;
align:vertical;
background-position:center;

}
.password{
align:center;
position:relative;


}
.footer-class-wrapper{
background-color:purple;
margin:0px;

}
.img-text{
text-align:center;
top:0;
font-family:helvetica;
position:relative;
justify-content:center;

}
.buttons-space>a:visited{
color:purple;

}
